[submodule "phonelibs/android_frameworks_native"]
	path = phonelibs/android_frameworks_native
	url = https://android.googlesource.com/platform/frameworks/native
[submodule "phonelibs/android_system_core"]
	path = phonelibs/android_system_core
	url = https://android.googlesource.com/platform/system/core
[submodule "phonelibs/android_hardware_libhardware"]
	path = phonelibs/android_hardware_libhardware
	url = https://android.googlesource.com/platform/hardware/libhardware
[submodule "phonelibs/android_system_libhidl"]
	path = phonelibs/android_system_libhidl
	url = https://android.googlesource.com/platform/system/libhidl
[submodule "phonelibs/android_hardware_interfaces"]
	path = phonelibs/android_hardware_interfaces
	url = https://android.googlesource.com/platform/hardware/interfaces
[submodule "phonelibs/c-capnproto"]
	path = phonelibs/c-capnproto
	url = https://github.com/commaai/c-capnproto.git
[submodule "phonelibs/capnproto-java"]
	path = phonelibs/capnproto-java
	url = https://github.com/capnproto/capnproto-java.git
[submodule "phonelibs/phonelibs/c-capnproto"]
	path = phonelibs/phonelibs/c-capnproto
	url = https://github.com/commaai/c-capnproto.git
